/* 기존 CSS 코드 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1; /* 페이지의 배경 색상 변경 */
}

.container {
    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽으로 배치 */
    align-items: flex-start;
    padding: 20px;
    height: 100vh; /* 뷰포트 높이를 100%로 설정 */
    box-sizing: border-box; /* padding을 포함하여 전체 크기 계산 */
}

.image-container {
    flex: 0 0 45%; /* 컨테이너의 45%를 차지하도록 설정 */
    max-width: 45%; /* 최대 너비를 45%로 설정 */
    margin-right: 20px;
    height: calc(100vh - 40px); /* padding을 제외한 높이 설정 */
    box-sizing: border-box;
    overflow: hidden; /* 넘치는 이미지를 숨김 */
    position: relative; /* 포지션을 변경함 */
    text-align: center; /* 텍스트를 가운데 정렬 */
}

.image-container img {
    width: 100%;
    height: auto; /* 이미지를 부모 요소의 너비에 맞게 자동 조정 */
    max-height: 100%; /* 최대 높이를 부모 요소의 높이에 맞게 설정 */
    object-fit: contain; /* 이미지가 잘림 없이 비율을 유지하며 보여지도록 함 */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 이미지에 호버 시 3D 효과 추가 */
.image-container img:hover {
    transform: perspective(500px) translateZ(-10px) scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.create-meeting-text {
    margin-top: 10px; /* 이미지와 텍스트 사이의 간격 조정 */
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.main {
    flex: 1; /* 나머지 공간을 차지 */
    max-width: calc(55% - 20px); /* 나머지 55%에서 margin을 제외한 크기 */
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px); /* padding을 제외한 높이 설정 */
    box-sizing: border-box;
    overflow: auto; /* 스크롤 방지 */
}

.username, .connectedusers, .userList, .action-box {
    width: 100%;
    box-sizing: border-box;
}

.username {
    margin-bottom: 20px;
    text-align: center; /* 중앙 정렬 */
    background-color: #d5dee8; /* 바 배경색 */
    padding: 10px; /* 바 여백 */
    border-radius: 5px; /* 바 모서리 둥글게 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 바 그림자 */
}

.connectedusers {
    margin-bottom: 20px;
    text-align: center; /* 중앙 정렬 */
    background-color: #3CB371; /* 바 배경색 */
    padding: 10px; /* 바 여백 */
    border-radius: 5px; /* 바 모서리 둥글게 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 바 그림자 */
}

.userList {
    display: flex;
    flex-direction: column; /* 수직으로 나열 */
    gap: 10px; /* 항목 간 간격 추가 */
    margin-bottom: 10px;
    text-align: center; /* 중앙 정렬 */
    padding: 12px; /* 바 여백 */
    border-radius: 5px; /* 바 모서리 둥글게 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 바 그림자 */
    background-color: #87CEFA; /* 바 배경색 */
}

.userList li {
    list-style: none;
}

.user-item-container {
    background-color: #f9f9f9; /* 아이템 배경 색상 */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info i {
    margin-right: 5px; /* 아이콘과 텍스트 사이 간격 */
}

.user-email {
    font-style: italic;
    color: #666;
}

.user-status i {
    margin-left: 10px;
}

.action-box {
    background-color: #ffffff;
    padding: 30px; /* padding을 늘려서 내부 요소들의 크기를 증가 */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: 250px; /* 높이를 늘려줍니다. */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 요소들 사이 간격을 동일하게 만듭니다. */
}

.action-box button {
    width: 100%; /* 모든 버튼의 너비를 동일하게 설정 */
    margin-bottom: 10px; /* 버튼 사이에 아래쪽 간격 추가 */
    padding: 15px; /* padding을 늘려서 버튼 크기를 증가 */
    border: none;
    border-radius: 5px;
    font-size: 18px; /* 글씨 크기를 증가 */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.action-box button.small {
    width: auto; /* 작은 버튼의 너비를 자동으로 설정 */
    padding: 12px; /* padding을 늘려서 작은 버튼 크기를 증가 */
    font-size: 16px; /* 글씨 크기를 증가 */
}

.connectedusers :hover {
    background-color: #4AA8D8; /* 호버 상태 배경색 변경 */
    transform: scale(1.05); /* 호버 상태 크기 확대 */
}

.action-box button:hover {
    background-color: #4AA8D8; /* 호버 상태 배경색 변경 */
    transform: scale(1.05); /* 호버 상태 크기 확대 */
}

.action-box button:active {
    transform: scale(0.98); /* 클릭 시 크기 축소 */
}

.join-meeting {
    display: flex;
    align-items: center;
    margin-top: 20px; /* 위쪽 간격을 늘려서 요소들 사이 간격 증가 */
}

#meetingName {
    flex: 8; /* 넓이 비율을 8로 설정 */
    padding: 15px; /* padding을 늘려서 입력 필드 크기를 증가 */
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px; /* 글씨 크기를 증가 */
    transition: transform 0.3s ease-in-out; /* 호버 시 3D 효과를 위한 트랜지션 추가 */
}

/* meetingName 입력 필드에 호버 시 3D 효과 추가 */
#meetingName:hover {
    transform: perspective(500px) translateZ(-10px) scale(1.05);
}

#joinMeetingBtn {
    flex: 2; /* 넓이 비율을 2로 설정 */
    background-color: #4CAF50;
    color: #fff;
    border : none;
    border-radius: 5px;
    padding: 15px 20px; /* padding을 늘려서 버튼 크기를 증가 */
    font-size: 18px; /* 글씨 크기를 증가 */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#joinMeetingBtn:hover {
        background-color: #0067A3;
        transform: scale(1.05);
    }

    #joinMeetingBtn:active {
        transform: scale(0.98);
    }

    #logoutBtn {
        background-color: #000000; /* 기본 색상: 검정색 */
        color: #fff; /* 텍스트 색상: 흰색 */
        border: none;
        border-radius: 5px;
        padding: 15px 20px; /* padding을 늘려서 버튼 크기를 증가 */
        font-size: 18px; /* 글씨 크기를 증가 */
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

    #logoutBtn:hover {
        background-color: #FF0000; /* 호버 시 색상: 빨간색 */
        transform: scale(1.05);
    }

    #logoutBtn:active {
        transform: scale(0.98);
    }

    /* Create a new meeting 버튼과 join 버튼의 색상 동일하게 설정 */
    #createMeetingBtn, #joinMeetingBtn {
        background-color: #4CAF50;
        color: #fff;
    }

    /* 만약 로그아웃 버튼과 다른 버튼이 같은 스타일을 공유하고 있다면 다르게 설정 */
    /* 예시로 logoutBtn은 다른 스타일을 적용 */
    .other-btn {
        background-color: #ccc;
        color: #333;
        border: none;
        border-radius: 5px;
        padding: 15px 20px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

    .other-btn:hover {
        background-color: #999;
    }

    .other-btn:active {
        transform: scale(0.98);
    }

    @media (max-width: 768px) {
        .container {
            flex-direction: column; /* 작은 화면에서는 세로로 배치 */
            align-items: center; /* 수직 정렬 */
        }

        .image-container, .main {
            flex: 1;
            max-width: 100%; /* 최대 너비를 100%로 설정 */
            margin-right: 0; /* 오른쪽 여백 제거 */
            height: auto; /* 높이를 자동으로 설정 */
        }

        .username, .connectedusers, .userList, .action-box {
            width: 90%; /* 작은 화면에서는 너비를 90%로 설정 */
            margin-bottom: 20px;
        }

        #meetingName, #joinMeetingBtn {
            flex: 1 0 auto; /* Reset flex values for smaller screens */
            margin-right: 0;
            margin-bottom: 10px;
            width: 100%;
        }
    }

