/* css/styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* 수정 가능: 로그인 폼의 너비 */
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="text"],
.login-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.login-form input[type="email"]:not(:placeholder-shown) {
    color: #777; /* 입력된 경우의 글자색 */
}

.login-form input[type="email"]:hover,
.login-form input[type="password"]:hover,
.login-form input[type="text"]:hover,
.login-form button:hover {
    border-color: #0067A3;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form button {
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0067A3;
    transform: translateY(-2px);
}

.login-form button:active {
    transform: translateY(0);
    box-shadow: none;
}

.register-header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    font-size: 24px;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    font-size: 22px;
}

.login-header h1 {
    display: inline-block;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}

.login-form p.register-link {
    margin-top: 10px;
    text-align: center;
}

.register-link .register-button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
}

.register-link .register-button:hover {
    background-color: #0067A3;
    transform: translateY(-2px);
}

.register-link .register-button:active {
    transform: translateY(0);
    box-shadow: none;
}
